<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: pageHeader('Home - eSHop Admin')" />

	<body>
		<div class="container-fluid">
			<div th:replace="navigation :: navigation"></div>
			
			<div>
				<h1>eShop Control Panel</h1> Welcome 
				<a th:href="@{/account}"
					sec:authentication="principal.fullName"></a>
				<span sec:authentication="principal.authorities"></span>
			</div>
		</div>
		
		<footer>
		</footer>
		
		<script type="text/javascript">
			$(document).ready(function() {
				$("#logoutLink").on("click", function(e) {
					e.preventDefault();
					document.logoutForm.submit();
				});
			})
		</script>
		
	</body>
</html>