<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="navigation">
	<form th:action="@{/logout}" method="post" th:hidden="true"
		name="logoutForm">
		<input type="submit" />
	</form>
	<nav class="navbar navbar-expand-lg ">
		<a class="navbar-brand" th:href="@{/}"> <img width="50" alt=""
			th:src="@{/images/test-logo.png}">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#topNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="topNavbar">
			<ul class="navbar-nav">
				<li sec:authorize="hasAuthority('Admin')" class="nav-item"><a class="nav-link" th:href="@{/users}">Users</a>
				</li>
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li class="nav-item"><a class="nav-link"
					th:href="@{/categories}">Categories</a></li>
				</th:block>
				<li class="nav-item"><a class="nav-link" th:href="@{/products}">Products</a>
				</li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/customers}">Customers</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/shipping}">Shipping</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/orders}">Orders</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/report}">Sales Report</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/articles}">Articles</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/menus}">Menus</a>
				</li>
				<li sec:authorize="hasAuthority('Admin')" class="nav-item"><a class="nav-link" th:href="@{/settings}">Settings</a>
				</li>
				<li><span class="fa fa-user fa-2x icon-silver"></span></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" 
					data-toggle="dropdown"
					sec:authentication="principal.fullName"></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/account}">Account</a>
						<a class="dropdown-item" th:href="@{/logout}" id="logoutLink">Logout</a>
					</div></li>
			</ul>
		</div>
	</nav>
</div>
</html>