<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" th:remove="tag"> 
			<div class="row">
				<div class="col border m-3 p-2">
					<div>
						<label>Main Image: </label>
					</div>
					<div>
						<img id="thumbnail" alt="Main Image Preview" class="img-fuild" 
							 th:src="@{${productRequest.mainImagePath}}" style="max-height: 350px" width="500" />
					</div>
					<div>
						<input type="file" id="fileImage" name="fileImage" required />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>